.nav-links {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
}

.nav-link {
  text-decoration: none; /* no underline */
  position: relative;
  display: flex;
  padding: 0.2rem 0rem;
  justify-content: center;
  align-items: center;
}

.nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 0.15rem solid var(--primary-color-blue);
  transition: 0.4s;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link.link-selected:after {
  transition-delay: 1.1s;
  width: 100%;
}
