.border-light {
  border-color: #fff !important;
}

.border-dark {
  border-color: #000 !important;
}

.main-frame {
  /* z-index: 1; */
  width: 100%;
  flex-direction: column;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.corner-top-left {
  width: 1.25rem;
  height: 1.25rem;
  border-top: 1px solid;
  border-left: 1px solid;
  position: absolute;
  top: 1rem;
  bottom: auto;
  left: 1rem;
  right: auto;
}

.corner-top-right {
  width: 1.25rem;
  height: 1.25rem;
  border-top: 1px solid;
  border-right: 1px solid;
  position: absolute;
  top: 1rem;
  bottom: auto;
  left: auto;
  right: 1rem;
}

.corner-bottom-left {
  width: 1.25rem;
  height: 1.25rem;
  border-bottom: 1px solid;
  border-left: 1px solid;
  position: absolute;
  top: auto;
  bottom: 1rem;
  left: 1rem;
  right: auto;
}

.corner-bottom-right {
  width: 1.25rem;
  height: 1.25rem;
  border-bottom: 1px solid;
  border-right: 1px solid;
  position: absolute;
  top: auto;
  bottom: 1rem;
  left: auto;
  right: 1rem;
}
