.work-card {
  display: flex;
  height: 36.6rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  flex: 1 0 0;
  padding: 1.57rem 0;
}

.work-image {
  display: flex;
  height: 27.625rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 1.5rem;
}

.work-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.work-title {
  flex: 1 0 0;
}

.work-title,
.work-tags {
  align-self: stretch;
}

.work-tags {
  text-transform: uppercase;
}
