.work-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  //   width: 32%;
}

.work-image {
  //   height: 28.4375rem;
  align-self: stretch;
  border-radius: 0.9375rem;
  max-width: 100%;
  min-height: 23.125rem;
  background-size: cover;
  position: relative;
}

.work-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  align-self: stretch;
}

.work-title,
.work-tags {
  align-self: stretch;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
  background-color: var(--primary-color-white);
}
