// CSS Properties
:root {
  --primary-color-white: #fff;
  --primary-color-blue: #0500e8;
}

// SCSS Variables
$font-family-base: 'halyard-display', sans-serif;

// Define media breakpoints
$mobile-breakpoint: 640px;
$tablet-breakpoint: 1040px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;
