.work-container {
  //   background-color: red;
  //   width: 100vw;
  padding: 13 * $base_gap_desktop;
  display: flex;
  flex-direction: column;
  gap: 3 * $base_gap_desktop;
}

.work-filters {
  width: 100%;
  //   background-color: red;
  display: flex;
  align-items: flex-start;
  gap: $base_gap_desktop;
  //   border-bottom: 0.0625rem solid var(--primary-color-blue);
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3 * $base_gap_desktop;
  flex-wrap: wrap;
}

.back-to-top {
  position: relative;
}

.to-top-button {
  cursor: pointer; // Optional: Indicate interactivity
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  color: var(--primary-color-blue);
  position: relative;
  margin: 0 auto;
  top: -2 * $base_gap_desktop;
}

.up-arrow {
  background-color: var(--primary-color-white);
  border: 0.0625rem solid var(--primary-color-blue);
  border-radius: 50%; // Create a circle
  padding: 10px 20px; // Adjust padding as needed
  width: 7rem;
  margin-bottom: 0.5rem;
}

/* Styles for tablet and under */
@media only screen and (max-width: $tablet-breakpoint) {
  .work-grid {
    grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
  }
  .break-line {
    grid-column: 1 / span 2;
  }
}

/* Styles for mobile and under */
@media only screen and (max-width: $mobile-breakpoint) {
  .work-grid {
    grid-template-columns: repeat(1, 1fr); /* Three columns with equal width */
  }

  .break-line {
    grid-column: 1 / span 1;
  }
}
