*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
}

a:hover,
a:focus {
  color: inherit; /* Inherit color from parent element */
}

a:active {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
}

.section-title {
  width: 100%;
  margin: 0 auto;
}

.break-line {
  grid-column: 1 / span 3; /* This will make the item span across all three columns */
  border: none; /* Remove default border */
  height: 0.0625rem; /* Set the height of the horizontal rule */
  background-color: var(
    --primary-color-blue
  ); /* Set the background color to blue */
  margin: 0; /* Add margin for spacing */
}

/* Default styles for all devices */
.element {
  /* Your default styles here */
}

/* Styles for mobile devices (up to 767px width) */
@media only screen and (max-width: 767px) {
  .element {
    /* Your styles for mobile devices here */
  }
}

/* Styles for tablets (768px to 1023px width) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .element {
    /* Your styles for tablets here */
  }
}

/* Styles for larger devices (1024px and above) */
@media only screen and (min-width: 1024px) {
  .element {
    /* Your styles for larger devices here */
  }
}
